body {
  font-family: '微软雅黑', 'Arial';
}
.clear-float:after {
  height: 0;
  content: '';
  clear: both;
  display: block;
}
.clear-float {
  zoom: 1;
}
.wapper {
  background: #f6f6f6;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: 2000px;
  padding: 0 125px;
}
.wapper .triangle-top {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 300px solid #000000;
  border-left: 300px solid transparent;
}
.wapper .triangle-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 380px solid #000000;
  border-right: 380px solid transparent;
}
.wapper .title {
  font-size: 52px;
  padding-top: 120px;
  line-height: 66px;
}
.wapper .name {
  font-size: 52px;
  line-height: 66px;
}
.wapper .job {
  font-size: 20px;
  line-height: 50px;
  color: #6c6c6c;
  border-bottom: 2px solid   #b3b3b3;
  width: 800px;
}
.wapper .left-bar-box {
  width: 250px;
  float: left;
}
.wapper .left-bar-box .left-bar {
  padding-bottom: 200px;
  border-right: 1px solid   #b3b3b3;
}
.wapper .left-bar-box .left-bar li h1 {
  cursor: pointer;
  font-size: 18px;
  line-height: 60px;
  font-weight: bold;
}
.wapper .left-bar-box .left-bar li .bottom-line {
  width: 40px;
  height: 3px;
  background: #000;
  margin-bottom: 25px;
}
.wapper .left-bar-box .left-bar li .contact {
  margin-bottom: 15px;
}
.wapper .left-bar-box .left-bar li .contact dt {
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
}
.wapper .left-bar-box .left-bar li .contact dd {
  font-size: 14px;
  color: #6c6c6c;
}
.wapper .left-bar-box .left-bar .skill {
  margin-bottom: 15px;
}
.wapper .left-bar-box .left-bar .skill dt {
  margin-bottom: 10px;
  font-size: 16px;
  color: #505050;
}
.wapper .left-bar-box .left-bar .skill dd {
  width: 225px;
  height: 10px;
  border: 1px solid #c5c5c5;
}
.wapper .left-bar-box .left-bar .skill dd .html {
  width: 90%;
  height: 8px;
  background: #c5c5c5;
  animation: html 2s;
}
@keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
.wapper .left-bar-box .left-bar .skill dd .html {
  width: 95%;
  height: 8px;
  background: #c5c5c5;
  animation: html 2s;
}
@keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
.wapper .left-bar-box .left-bar .skill dd .css {
  width: 82%;
  height: 8px;
  background: #c5c5c5;
  animation: css 2s;
}
@keyframes css {
  0% {
    width: 0;
  }
  100% {
    width: 82%;
  }
}
.wapper .left-bar-box .left-bar .skill dd .js {
  width: 85%;
  height: 8px;
  background: #c5c5c5;
  animation: js 2s;
}

.wapper .left-bar-box .left-bar .skill dd .vue {
  width: 70%;
  height: 8px;
  background: #c5c5c5;
  animation: vue 2s;
}
@keyframes js {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
@keyframes vue {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
.wapper .left-bar-box .left-bar .skill dd .node {
  width: 65%;
  height: 8px;
  background: #c5c5c5;
  animation: node 2s;
}
@keyframes node {
  0% {
    width: 0;
  }
  100% {
    width: 65%;
  }
}
.wapper .left-bar-box .left-bar .skill-others li {
  text-align: justify;
  width: 225px;
  list-style: disc;
  font-size: 14px;
  color: #6c6c6c;
  line-height: 16px;
  margin-bottom: 8px;
}
.wapper .left-bar-box .left-bar .hobby li {
  color: #6c6c6c;
  line-height: 16px;
  margin-bottom: 8px;
}
.wapper .left-bar-box .left-bar .self-intrduce li {
  list-style: disc;
  font-size: 14px;
  color: #6c6c6c;
  line-height: 24px;
  margin-left: 15px;
}
.wapper .right-bar-box {
  width: 680px;
  float: left;
  margin-left: 20px;
}
.wapper .right-bar-box .split-line {
  border-top: 2px solid  #b3b3b3;
}
.wapper .right-bar-box .right-bar .skill-others li {
  font-size: 14px;
  line-height: 20px;
  list-style: disc;
  margin-left: 20px;
  color: #505050;
}
.wapper .right-bar-box .right-bar li {
  margin-bottom: 15px;
}
.wapper .right-bar-box .right-bar li h1 {
  cursor: pointer;
  font-size: 18px;
  line-height: 60px;
  font-weight: bold;
}
.wapper .right-bar-box .right-bar li .bottom-line {
  width: 40px;
  height: 3px;
  background: #000;
  margin-bottom: 25px;
}
.wapper .right-bar-box .right-bar li .intrduce {
  display: block;
  width: 540px;
  color: #6c6c6c;
  font-size: 14px;
  line-height: 20px;
}
.wapper .right-bar-box .right-bar li .intrduce span {
  margin-top: 8px;
  display: block;
  text-align: right;
}
.wapper .right-bar-box .right-bar li .social li {
  display: inline-block;
}
.wapper .right-bar-box .right-bar li .social li a {
  display: flex;
  align-items: center;
  color: #6c6c6c;
  margin-right: 135px;
  line-height: 28px;
}
.wapper .right-bar-box .right-bar li .social li .qq-wrapper {
  color: #6c6c6c;
  margin-right: 135px;
  line-height: 28px;
}
.wapper .right-bar-box .right-bar li .social li .qq-wrapper .qq {
  margin-right: 4px;
}
.wapper .right-bar-box .right-bar li .social li a i {
  display: inline-block;
  color: #000;
  font-size: 32px;
  margin-right: 8px;
  line-height: 28px;
}
.wapper .right-bar-box .right-bar li .social .wechat {
  position: relative;
}
.wapper .right-bar-box .right-bar li .social .wechat .qr-code {
  position: absolute;
  right: 0;
  width: 115px;
  height: 115px;
  top: -80px;
  display: none;
}
.wapper .right-bar-box .right-bar li .social .wechat .qr-code img {
  width: 100%;
  height: 100%;
}
.wapper .right-bar-box .right-bar li .edu li .year {
  color: #6c6c6c;
  width: 220px;
  float: left;
  font-size: 14px;
}
.wapper .right-bar-box .right-bar li .edu li dl {
  height: 50px;
  float: left;
}
.wapper .right-bar-box .right-bar li .edu li dl dt {
  line-height: ;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
.wapper .right-bar-box .right-bar li .edu li dl dd {
  color: #6c6c6c;
  font-size: 14px;
  line-height: 20px;
}
.wapper .right-bar-box .right-bar li .work li .year {
  height: 14px;
  color: #6c6c6c;
  width: 220px;
  float: left;
  font-size: 14px;
}
.wapper .right-bar-box .right-bar li .work li .year a {
  color: #6c6c6c;
}
.wapper .right-bar-box .right-bar li .work li .year a .icon-guankancishu {
  margin-right: 45px;
  font-size: 22px;
}
.wapper .right-bar-box .right-bar li .work li dl {
  float: left;
}
.wapper .right-bar-box .right-bar li .work li dl dt {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}
.wapper .right-bar-box .right-bar li .work li dl dt span {
  display: inline-block;
  width: 130px;
  float: right;
}
.wapper .right-bar-box .right-bar li .work li dl dd {
  color: #6c6c6c;
  font-size: 14px;
  line-height: 20px;
  width: 430px;
}
.wapper .right-bar-box .right-bar li .project h1 {
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
}
.wapper .right-bar-box .right-bar li .project .project-detail li {
  list-style: disc;
  color: #6c6c6c;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 18px;
  margin-left: 30px;
}
.wapper .right-bar-box .right-bar li .project .project-detail li span {
  color: #000;
}
.iconfont {
  transition: All 1s ;
}
.social li:hover .iconfont {
  transform: rotate(360deg) scale(1.2);
}
